## List Functions

In [12]:
names = ["start", "end", "step"]

In [10]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
print(names)

['start', 'end', 'step']

In [13]:
names.append("chal bay")
print(names)

['start', 'end', 'step', 'chal bay']

In [11]:
names.clear()
print(names)

[]

In [23]:
names1 = names              #shallow-copy
print("Original List: "+str(names))
print("Shallow-copied List: "+str(names1))

Original List: ['start', 'end', 'step', 'chal bay']
Shallow-copied List: ['start', 'end', 'step', 'chal bay']

In [15]:
new_list = names.copy()     #deep-copy
print(new_list)

['start', 'end', 'step', 'chal bay']

In [30]:
names = ['a', 'b', 'c', 'd', 'a', 'f']
print(names.count("a"))

2

In [32]:
name2 = ['w', 'x', 'y', 'z']
miss = names.extend(name2)
print(miss)
print(name2)
print(names)

None
['w', 'x', 'y', 'z']
['a', 'b', 'c', 'd', 'a', 'f', 'w', 'x', 'y', 'z', 'w', 'x', 'y', 'z']

In [42]:
print("-"+str(len(names) - names.index('a', 1)))
print(names.index('a', 1))

-10
4

In [45]:
names.clear()
names.insert(0, 'A')
names.insert(0, 'B')
names.insert(0, 'C')
print(names)
names.insert(1, 'D')
print(names)

['C', 'B', 'A']
['C', 'D', 'B', 'A']

In [46]:
l1 = ['A', 'B', 'C']
print(l1)
a = l1.pop()
print(a)
print(l1)

['A', 'B', 'C']
C
['A', 'B']

In [49]:
l1 = ['A', 'B', 'C']
a = del l1[0]
print(a)
print(l1)

C
['B', 'C']

In [52]:
l1 = ['A', 'B', 'C']
a = l1.pop(1)
print(a)
print(l1)

B
['A', 'C']

In [54]:
names = ['a', 'b', 'c', 'd', 'a', 'f']
names.remove('a')
print(names)

['b', 'c', 'd', 'a', 'f']

In [57]:
names = ['a', 'b', 'c', 'd', 'a', 'f']
l1 = names.reverse()
print(l1)
print(names)

None
['f', 'a', 'd', 'c', 'b', 'a']

In [61]:
names = ['a', 'b', 'c', 'd', 'a', 'f']
names.sort(reverse = True)
print(names)

['f', 'd', 'c', 'b', 'a', 'a']

In [65]:
l1 = ['A', 'B', 'C']
print(['A'] + ['C', 'D'])
print(l1.__add__(['F','E']))
print(l1)

['A', 'C', 'D']
['A', 'B', 'C', 'F', 'E']
['A', 'B', 'C']

In [67]:
l1.__class__

list

In [68]:
print(l1.__contains__('A'))

True

In [70]:
l1 = ['A', 'B', 'C']
l2 = ['A', 'B', 'C']
l3 = ['A', 'E', 'C']
print(l1.__eq__(l2))
print(l1.__eq__(l3))

True
False

In [81]:
l1 = [5, 4, 3]
l2 = [1, 2, 3]
l3 = [7, 9, 18]
print(l1.__ge__(l2))
print(l1.__ge__(l3))
print(l1.__le__(l2))
print(l1.__le__(l3))

True
False
False
True

In [83]:
["pakistan"] * 10

['pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan']

# Loop

#### counter
#### Login
#### increment / decrement

###### 1.while
###### 2. for

In [91]:
counter = 1
while counter <= 10:
    print("Pakistan", counter)
    counter += 1

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [99]:
counter = 100
while counter >= 90:
    print("Pakistan", counter)
    counter -= 1

Pakistan 100
Pakistan 99
Pakistan 98
Pakistan 97
Pakistan 96
Pakistan 95
Pakistan 94
Pakistan 93
Pakistan 92
Pakistan 91
Pakistan 90

#### for (count: logic: increment)  // Old methods of "for" looping

In [96]:
for i in range(1, 11):
    print("Pakistan", i)

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [97]:
primes = [2, 3, 5,7, 11, 13, 17, 23]
for prime in primes:
    print(prime)

2
3
5
7
11
13
17
23

##### List Comprehensive

In [103]:
["Pakistan: " + str(x) for x in primes]

['Pakistan: 2',
 'Pakistan: 3',
 'Pakistan: 5',
 'Pakistan: 7',
 'Pakistan: 11',
 'Pakistan: 13',
 'Pakistan: 17',
 'Pakistan: 23']

# Tuple

In [105]:
for i in range(1, 11):
    print(2, " X ", i , " = ", 2*i)

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20

In [107]:
for i in range(1, 11):
    print("2 X " + str(i) + " = " + str(2*i))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [109]:
["2 X " + str(i) + " = " + str(2*i) for i in range(1, 11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

In [111]:
a = (1,2,3,2,1)
a.count(1)

2

In [113]:
a.index(3)

2

## gather name, fathername, contact,  add it to list.....ask if you want to add more values until prompted to do so.

In [120]:
prompt = "Y"
print("Welcome, Enter First user's name")
l1 = []
while prompt == "Y":
    a = input("Name: ")
    b = input("Father's name: ")
    c = input("Contact no: ")
    current_info = [a, b, c]
    l1.append(current_info)
    prompt = input("Continue or end Y/N: ")
print(l1)

Welcome, Enter First user's name
Name: qwer
Father's name: qwert
Contact no: qwert
Continue or end Y/N: N
[['qwer', 'qwert', 'qwert']]

## 990-1000 in reverse using for and while loop

In [133]:
for i in range(1000, 989, -1):
    print(i)

1000
999
998
997
996
995
994
993
992
991
990

In [127]:
counter = 1000
while counter >= 990:
    print(counter)
    counter -= 1

1000
999
998
997
996
995
994
993
992
991
990

In [6]:
[str(chr(x)) + "    " + str(chr(x + 24)) + "    " + str(chr(x + 48)) for x in range(48, 57)]

['0    H    `',
 '1    I    a',
 '2    J    b',
 '3    K    c',
 '4    L    d',
 '5    M    e',
 '6    N    f',
 '7    O    g',
 '8    P    h']

### print tables ( from 1 to given number ) in a tabular format

In [4]:
lastrange = input("enter your range: ")
lastrange = int(lastrange)
for i in range(1, 11):
    for j in range(1, lastrange +1):
        print(str(i) + " X " + str(j) + " = " + str(i*j), end = "\t\t ")
    print()

enter your range: 4
1 X 1 = 1		 1 X 2 = 2		 1 X 3 = 3		 1 X 4 = 4
2 X 1 = 2		 2 X 2 = 4		 2 X 3 = 6		 2 X 4 = 8
3 X 1 = 3		 3 X 2 = 6		 3 X 3 = 9		 3 X 4 = 12
4 X 1 = 4		 4 X 2 = 8		 4 X 3 = 12		 4 X 4 = 16
5 X 1 = 5		 5 X 2 = 10		 5 X 3 = 15		 5 X 4 = 20
6 X 1 = 6		 6 X 2 = 12		 6 X 3 = 18		 6 X 4 = 24
7 X 1 = 7		 7 X 2 = 14		 7 X 3 = 21		 7 X 4 = 28
8 X 1 = 8		 8 X 2 = 16		 8 X 3 = 24		 8 X 4 = 32
9 X 1 = 9		 9 X 2 = 18		 9 X 3 = 27		 9 X 4 = 36
10 X 1 = 10		 10 X 2 = 20		 10 X 3 = 30		 10 X 4 = 40

### return row and column number of every element that is divisible by 5

In [162]:
a = [[2,5,9], [8,9,10], [20,30,27], [35,9,20]]
for ri, r in enumerate(a):
    for ci, c in enumerate(r):
        if(c % 5 == 0):
            print((ri,ci),c, end =" ")
    print()

(0, 1) 5
(1, 2) 10
(2, 0) 20 (2, 1) 30
(3, 0) 35 (3, 2) 20

## in 1 - 1000... print all number all numbers divisible by 5, 7 or 20

In [1]:
for i in range(1, 1001):
    if(i%5== 0 or i%7 == 0 or i%20 == 0):
        print(i)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100
105
110
112
115
119
120
125
126
130
133
135
140
145
147
150
154
155
160
161
165
168
170
175
180
182
185
189
190
195
196
200
203
205
210
215
217
220
224
225
230
231
235
238
240
245
250
252
255
259
260
265
266
270
273
275
280
285
287
290
294
295
300
301
305
308
310
315
320
322
325
329
330
335
336
340
343
345
350
355
357
360
364
365
370
371
375
378
380
385
390
392
395
399
400
405
406
410
413
415
420
425
427
430
434
435
440
441
445
448
450
455
460
462
465
469
470
475
476
480
483
485
490
495
497
500
504
505
510
511
515
518
520
525
530
532
535
539
540
545
546
550
553
555
560
565
567
570
574
575
580
581
585
588
590
595
600
602
605
609
610
615
616
620
623
625
630
635
637
640
644
645
650
651
655
658
660
665
670
672
675
679
680
685
686
690
693
695
700
705
707
710
714
715
720
721
725
728
730
735
740
742
745
749
750
755
756
760
763
765
770
775
777
780
784
785
790
791
795
798
800
805
810
812
815
819
820
825
826
830
833
835
840
845
847
850
854
855
860
861
865
868
870
875
880
882
885
889
890
895
896
900
903
905
910
915
917
920
924
925
930
931
935
938
940
945
950
952
955
959
960
965
966
970
973
975
980
985
987
990
994
995
1000

## Marketing Case

In [3]:
initiator = input("Initiator was(boy, friend or girl): ")
if(initiator == 'boy'):
    slap = input("slapped? y/n: ")
    if(slap == "y" or slap == "Y"):
        print("That's customer Feedback")
    else:
        husband = input("Introduced to husband y/n: ")
        if(husband == "y" or husband == "Y"):
            print("That's demand and supply gap")
        else:
            print("That's direct marketing")
elif(initiator == 'friend'):
    print("That's advertising")
elif(initiator == "girl"):
    print("That's brand recognition")
else:
    print("Not allowed to enter other markets")

Initiator was(boy, friend or girl): girl
That's brand recognition